name: Daily Stock Scan

on:
  schedule:
    - cron: "0 3 * * *"   # 3:00 UTC = 8:30 AM IST
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install yfinance pandas numpy

    - name: Run daily scan
      run: |
        python scan.py

    - name: Commit results
      run: |
        git config --global user.email "bot@example.com"
        git config --global user.name "Swetha-Auto"
        git add candidates.csv
        git commit -m "Daily update" || echo "No changes to commit"
        git push
