name: Daily Stock Scan

on:
  schedule:
    - cron: "0 3 * * *"   # Runs at 8:30 AM IST
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install yfinance pandas numpy

    - name: Run scanner
      run: python scan.py

    - name: Save output
      run: |
        mkdir -p data
        mv today_pick.json data/today_pick.json

    - name: Commit result
      run: |
        git config --global user.email "bot@example.com"
        git config --global user.name "Swetha-Auto"
        git add data/today_pick.json
        git commit -m "Daily Stock Pick Update" || echo "No changes"
        git push
